packs/corretora-seguros/workflows/02.1 Cotar Vida.json
{
  "name": "02.1 Cotar Vida",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "account_id",
              "type": "number"
            },
            {
              "name": "conversation_id",
              "type": "number"
            },
            {
              "name": "task_id",
              "type": "number"
            },
            {
              "name": "board_id",
              "type": "number"
            },
            {
              "name": "cpf"
            },
            {
              "name": "data_nascimento"
            },
            {
              "name": "sexo"
            },
            {
              "name": "fumante",
              "type": "boolean"
            },
            {
              "name": "profissao"
            },
            {
              "name": "cep"
            },
            {
              "name": "beneficiarios",
              "type": "array"
            },
            {
              "name": "capital_morte",
              "type": "number"
            },
            {
              "name": "capital_invalidez_acidente",
              "type": "number"
            },
            {
              "name": "capital_invalidez_doenca",
              "type": "number"
            },
            {
              "name": "capital_doencas_graves",
              "type": "number"
            },
            {
              "name": "auxilio_funeral",
              "type": "number"
            },
            {
              "name": "diaria_incapacidade",
              "type": "number"
            },
            {
              "name": "prazo"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        160,
        144
      ],
      "id": "a1b6aa92-4191-4d10-973d-07b475a585b2",
      "name": "Gatilho"
    },
    {
      "parameters": {
        "resource": "kanbanTask",
        "operation": "get",
        "accountId": {
          "__rl": true,
          "value": "={{ $json.account_id }}",
          "mode": "id"
        },
        "kanbanBoardId": {
          "__rl": true,
          "value": "={{ $json.board_id }}",
          "mode": "id"
        },
        "kanbanTaskId": {
          "__rl": true,
          "value": "={{ $json.task_id }}",
          "mode": "id"
        }
      },
      "type": "@fazer-ai/n8n-nodes-chatwoot.chatwoot",
      "typeVersion": 1,
      "position": [
        352,
        144
      ],
      "id": "b2a7d4c1-1111-2222-3333-444455556667",
      "name": "Carregar tarefa",
      "credentials": {}
    },
    {
      "parameters": {
        "jsCode": "/**\n * Monta payload OPIN-style para a seguradora de vida.\n *\n * Esquema esperado pelo mock:\n *   data: {\n *     contratante: { cep },\n *     segurado: { cpf, dataNascimento, sexo, fumante, profissao },\n *     beneficiarios: [ { nome, parentesco, percentual } ],\n *     cobertura: { capitalMorte, capitalInvalidezAcidente?, capitalInvalidezDoenca?,\n *                  capitalDoencasGraves?, auxilioFuneral?, diariaIncapacidade?, prazo }\n *   }\n */\n\nconst input = $('Gatilho').first().json;\n\nconst obrigatorios = ['cpf', 'data_nascimento', 'sexo', 'cep', 'beneficiarios', 'capital_morte'];\nfor (const campo of obrigatorios) {\n  if (input[campo] === undefined || input[campo] === null || input[campo] === '') {\n    throw new Error(`Campo obrigatório ausente: ${campo}`);\n  }\n}\n\nconst dataNasc = DateTime.fromISO(input.data_nascimento);\nif (!dataNasc.isValid) {\n  throw new Error('data_nascimento inválida. Esperado AAAA-MM-DD.');\n}\n\nconst sexoNorm = String(input.sexo).toLowerCase().charAt(0);\nif (!['m', 'f'].includes(sexoNorm)) {\n  throw new Error('sexo inválido. Use \"m\" ou \"f\".');\n}\n\nlet beneficiarios = input.beneficiarios;\nif (typeof beneficiarios === 'string') {\n  try { beneficiarios = JSON.parse(beneficiarios); } catch { throw new Error('beneficiarios deve ser JSON array.'); }\n}\nif (!Array.isArray(beneficiarios) || beneficiarios.length === 0) {\n  throw new Error('beneficiarios deve ser uma lista com pelo menos 1 beneficiário.');\n}\nconst totalPct = beneficiarios.reduce((s, b) => s + Number(b.percentual || 0), 0);\nif (Math.abs(totalPct - 100) > 0.01) {\n  throw new Error(`Percentuais dos beneficiários devem somar 100. Recebido: ${totalPct}`);\n}\n\nconst capital = Number(input.capital_morte);\nif (!Number.isFinite(capital) || capital < 10000) {\n  throw new Error('capital_morte deve ser >= R$ 10.000.');\n}\n\nconst idempotencyKey = input.idempotency_key || `task-${input.task_id}`;\n\nconst payload = {\n  data: {\n    contratante: {\n      cep: String(input.cep).replace(/\\D/g, '')\n    },\n    segurado: {\n      cpf: String(input.cpf).replace(/\\D/g, ''),\n      dataNascimento: input.data_nascimento,\n      sexo: sexoNorm,\n      fumante: Boolean(input.fumante ?? false),\n      profissao: input.profissao || 'outros'\n    },\n    beneficiarios: beneficiarios.map(b => ({\n      nome: String(b.nome || '').trim(),\n      parentesco: String(b.parentesco || 'outro').toLowerCase(),\n      percentual: Number(b.percentual)\n    })),\n    cobertura: {\n      capitalMorte: capital,\n      capitalInvalidezAcidente: Number(input.capital_invalidez_acidente || 0),\n      capitalInvalidezDoenca: Number(input.capital_invalidez_doenca || 0),\n      capitalDoencasGraves: Number(input.capital_doencas_graves || 0),\n      auxilioFuneral: Number(input.auxilio_funeral || 0),\n      diariaIncapacidade: Number(input.diaria_incapacidade || 0),\n      prazo: input.prazo || 'anualRenovavel'\n    }\n  }\n};\n\nreturn [{ json: { payload, idempotencyKey } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        528,
        144
      ],
      "id": "126ad56f-87e6-4604-b3f4-f81e15aabe98",
      "name": "Montar payload"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "<SUA URL N8N>/webhook/quote-life/request",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-idempotency-key",
              "value": "={{ $json.idempotencyKey }}"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.payload.toJsonString() }}",
        "options": {
          "timeout": 20000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        720,
        144
      ],
      "id": "c95bae97-26b6-4a3a-9605-4167a769d80a",
      "name": "Chamar seguradora (mock)"
    },
    {
      "parameters": {
        "jsCode": "/**\n * Normaliza a resposta da seguradora e guarda o payload original\n * para o workflow de emissão poder reapresentar (validação stateless).\n */\nconst resposta = $input.first().json;\n\nif (!resposta || !resposta.data) {\n  throw new Error('Resposta inesperada da seguradora: ' + JSON.stringify(resposta).slice(0, 300));\n}\n\nconst { consentId, planos, validadeDias } = resposta.data;\n\n// Valor do card: média do prêmio anual entre as opções retornadas (estimativa de pipeline).\n// Na emissão (WF 05) esse valor é substituído pelo prêmio anual efetivo do plano escolhido.\nconst valorEstimadoAnual = planos.length > 0\n  ? Math.round(planos.reduce((sum, p) => sum + (p.premio?.anual || 0), 0) / planos.length)\n  : 0;\nconst disclaimer = resposta.meta?.disclaimer;\n\nconst input = $('Gatilho').first().json;\nconst montarPayload = $('Montar payload').first().json;\nconst payloadOriginal = montarPayload.payload;\nconst idempotencyKey = montarPayload.idempotencyKey;\n\nfunction formatBRL(v) { return v.toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' }); }\n\nfunction labelCobertura(c) {\n  const map = {\n    morte: 'Morte',\n    invalidez_permanente_acidente: 'Invalidez por acidente',\n    invalidez_permanente_doenca: 'Invalidez por doença',\n    doencas_graves: 'Doenças graves',\n    auxilio_funeral: 'Auxílio funeral',\n    diaria_incapacidade_temporaria: 'Diária de incapacidade'\n  };\n  const nome = map[c.tipo] ?? c.tipo;\n  if (c.valorDiario !== undefined) return `  · ${nome}: ${formatBRL(c.valorDiario)}/dia`;\n  return `  · ${nome}: ${formatBRL(c.capital)}`;\n}\n\nconst resumoTexto = planos.map((p, i) => {\n  const linhas = [\n    `*Opção ${i + 1}: ${p.produto.nome}*`,\n    `  Mensalidade: ${formatBRL(p.premio.mensal)}  ·  Anual: ${formatBRL(p.premio.anual)}`,\n    `  Coberturas:`\n  ];\n  p.coberturas.forEach(c => linhas.push(labelCobertura(c)));\n  linhas.push(`  Carência morte natural: ${p.carencias.morteNatural}`);\n  return linhas.join('\\n');\n}).join('\\n\\n');\n\nreturn [{\n  json: {\n    consentId,\n    validadeDias,\n    planos,\n    disclaimer,\n    resumo_texto: resumoTexto,\n    task_id: input.task_id,\n    account_id: input.account_id,\n    board_id: input.board_id,\n    idempotency_key: idempotencyKey,\n    original_quote_request: payloadOriginal.data,\n    valor_estimado_anual: valorEstimadoAnual\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        912,
        144
      ],
      "id": "1f5164b0-3495-4d15-8bd5-5aed0f8ef004",
      "name": "Processar resposta"
    },
    {
      "parameters": {
        "resource": "kanbanTask",
        "operation": "update",
        "accountId": {
          "__rl": true,
          "value": "={{ $json.account_id }}",
          "mode": "id"
        },
        "kanbanBoardId": {
          "__rl": true,
          "value": "={{ $json.board_id }}",
          "mode": "id"
        },
        "kanbanTaskId": {
          "__rl": true,
          "value": "={{ $json.task_id }}",
          "mode": "id"
        },
        "specifyCustomAttributesUpdate": "json",
        "updateFields": {
          "board_step_id": {
            "__rl": true,
            "value": "={{ $('Carregar tarefa').first().json.board.steps.find(s => s.name === 'Cotação Solicitada').id }}",
            "mode": "id"
          },
          "value": "={{ $json.valor_estimado_anual }}"
        },
        "customAttributesJsonUpdate": "={{ JSON.stringify({ ...($('Carregar tarefa').first().json.custom_attributes || {}), consent_id_cotacao: $json.consentId, ramo: 'vida', idempotency_key: $json.idempotency_key, original_quote_request: JSON.stringify($json.original_quote_request) }) }}"
      },
      "type": "@fazer-ai/n8n-nodes-chatwoot.chatwoot",
      "typeVersion": 1,
      "position": [
        1104,
        144
      ],
      "id": "6714d530-c4dd-41fd-95dd-53b22253c6c3",
      "name": "Salvar cotação na tarefa",
      "credentials": {},
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "r-consent-id-0001",
              "name": "consentId",
              "value": "={{ $('Processar resposta').item.json.consentId }}",
              "type": "string"
            },
            {
              "id": "r-validade-0002",
              "name": "validadeDias",
              "value": "={{ $('Processar resposta').item.json.validadeDias }}",
              "type": "number"
            },
            {
              "id": "r-planos-0003",
              "name": "planos",
              "value": "={{ $('Processar resposta').item.json.planos }}",
              "type": "array"
            },
            {
              "id": "r-resumo-0004",
              "name": "resumo_cliente",
              "value": "={{ $('Processar resposta').item.json.resumo_texto }}",
              "type": "string"
            },
            {
              "id": "r-discl-0005",
              "name": "disclaimer",
              "value": "={{ $('Processar resposta').item.json.disclaimer }}",
              "type": "string"
            },
            {
              "id": "r-oqr-0006",
              "name": "original_quote_request",
              "value": "={{ $('Processar resposta').item.json.original_quote_request }}",
              "type": "object"
            }
          ]
        },
        "includeOtherFields": false,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1312,
        144
      ],
      "id": "9eaec522-4775-4bb9-8b31-fd624b75af80",
      "name": "Resposta ao agente"
    },
    {
      "parameters": {
        "content": "## Integração com a seguradora\n\nEnvelope OPIN-style (`{data: {...}}`). CPF, CEP e percentuais normalizados no Code node. O `x-idempotency-key` amarrado à tarefa garante que retentativas na mesma tarefa retornam o mesmo `consentId` e os mesmos preços.",
        "height": 180,
        "width": 432,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1440,
        16
      ],
      "id": "640c9474-3fc5-46f7-93ee-2721ad55cbd2",
      "name": "Note mock"
    },
    {
      "parameters": {
        "content": "## Persistir e responder\n\n- `consentId` + `ramo=vida` ficam na tarefa.\n- `original_quote_request` volta ao agente para ser salvo na descrição e reenviado ao mock na emissão (validação stateless).",
        "height": 164,
        "width": 432,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1440,
        208
      ],
      "id": "b21aae1a-cbea-4129-a962-f24d5da1da74",
      "name": "Note persistencia"
    },
    {
      "parameters": {
        "content": "## Quer entender como funciona?\n\n\n### Assista o vídeo, deixe um like, e se inscreva no canal para ter acesso a mais workflows como esse!\n\n[![Vídeo YouTube Kanban Clínicas](https://i1.ytimg.com/vi_webp/vYtaGw3vRII/maxresdefault.webp)](https://www.youtube.com/watch?v=vYtaGw3vRII)",
        "height": 472,
        "width": 596,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        144,
        -464
      ],
      "id": "847f3f8a-fea4-4fdf-a42e-e3bf094f9d39",
      "name": "Sticky Note13"
    },
    {
      "parameters": {
        "content": "## [Clique aqui e entre agora para tirar suas dúvidas](https://lucasmoreira.ai)\n[![Banner comunidade](https://assets-v2.circle.so/voccie8o44ecsfpx7p8z1j9rze82)](https://lucasmoreira.ai)",
        "height": 472,
        "width": 1124,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        752,
        -464
      ],
      "id": "338575f9-4e8e-4a25-9fb6-d689b135f551",
      "name": "Sticky Note36"
    },
    {
      "parameters": {
        "content": "[![fazer.ai](https://framerusercontent.com/images/HqY9djLTzyutSKnuLLqBr92KbM.png?scale-down-to=256)](https://fazer.ai?utm_source=n8n&utm_campaign=sec-v3)\n\n## Esse é um template faça você mesmo do canal\n## Lucas Moreira\n\n### Inscreva-se no nosso canal no YouTube\n[![YouTube Lucas Moreira](https://img.shields.io/youtube/channel/subscribers/UCtmp6SxzLscu0GRTbgM8FTw?style=flat-square&logo=youtube&label=Inscreva-se&color=f00)](https://youtube.com/@eulucassmoreira?si=0lH7hwX9pukjhmPQ)\n[![Instagram](https://img.shields.io/badge/instagram-black?logo=instagram&style=for-the-badge)](https://instagram.com/eulucassmoreira)\n[![GitHub fazer.ai](https://img.shields.io/badge/github-%23121011.svg?style=for-the-badge&logo=github&logoColor=white&label)](https://github.com/fazer-ai)\n",
        "height": 472,
        "width": 550,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -416,
        -464
      ],
      "id": "53deb108-83c3-4b1e-8b46-c08499091bff",
      "name": "Sticky Note12"
    },
    {
      "parameters": {
        "content": "## 02. Cotar Vida\n\nChama a API da seguradora (mock) e retorna 3 opções de plano de vida.\n\n**Entradas esperadas** (do Agente):\n- `account_id`, `conversation_id`, `task_id`\n- `cpf`, `data_nascimento` (AAAA-MM-DD), `sexo` (m/f), `fumante` (bool), `profissao`\n- `cep`\n- `beneficiarios` — array `[{nome, parentesco, percentual}]`, soma = 100\n- `capital_morte` (R$)\n- Capitais adicionais opcionais (invalidez acidente/doença, doenças graves, auxílio funeral, diária)\n- `prazo` (default: anualRenovavel)",
        "height": 360,
        "width": 550,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -416,
        16
      ],
      "id": "9c0f609a-8fec-4757-a90a-0abc6a5dbfee",
      "name": "Note principal"
    }
  ],
  "connections": {
    "Gatilho": {
      "main": [
        [
          {
            "node": "Carregar tarefa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Carregar tarefa": {
      "main": [
        [
          {
            "node": "Montar payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Montar payload": {
      "main": [
        [
          {
            "node": "Chamar seguradora (mock)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chamar seguradora (mock)": {
      "main": [
        [
          {
            "node": "Processar resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Processar resposta": {
      "main": [
        [
          {
            "node": "Salvar cotação na tarefa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salvar cotação na tarefa": {
      "main": [
        [
          {
            "node": "Resposta ao agente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "active": false
}
